
<%= render "shared_partial/search" %>
<div class="container">
  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Result!</strong> You have <%= @pets.count %> <strong><%= @pets.first.species unless @pets.first.nil? %>s</strong> that meet your search criteria!
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="thumbnails">
        <% @pets.each do |pet| %>
            <div class="col-md-4">
                <div class="thumbnail" id="pet-result-pic">
                     <%= image_tag(pet.picture, class: "img-responsive resize-result pet-picture")  %>
                    <div class="caption">
                         <h3 class="result-name"><%= pet.name %></h3>
                        <small class="result-name">Type: <strong><%= pet.species %></strong></small>
                        <!--set up some logic- if you're not signed in, clicking this button raises sign in alert. -->
                        <div class="row">
                          <div class="col-md-6 like-button">
                              <%= form_for pet, :url => { :controller => "favorite_pets", :action => "create" }, :html => {:method => :post}, :remote => true do |f| %>
                               <%= f.hidden_field :id %>
                               <%= f.submit "Like", class: "btn btn-warning like-button" %>
                               <% end %>
                          </div>
                          <div class="col-md-6">
                            <p align="center"><a href="/pets/<%=pet.id%>" class="btn btn-warning more-button">more</a>
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        <%end%>
        </ul>
    </div>
</div>




