
<%= render "shared_partial/search" %>
<div class="container">
  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Result!</strong> You have <%= @pets.count %> <strong><%= @pets.first.species unless @pets.first.nil? %>s</strong> that meet your search criteria!
    </div>
</div>


<div class="container">
    <div class="row">
    <% @pets.each do |pet| %>
        <div class="col-xs-12 col-sm-6 col-md-7 col-md-offset-2">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-6">

                        <%= image_tag(pet.picture, class: "img-size") %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            <%= pet.name %></h4>
                            <hr>
                        <small><strong>Type: </strong><%= pet.species %> </small><br>
                        <p>
                        <% shelter = Shelter.find(pet.shelter_id)%>
                            <i class="glyphicon glyphicon-envelope"></i><%= shelter.email %>
                            <br />

                        </p>
                        <div class="btn-group">
                            <a class="btn-group" href="/pets/<%=pet.id%>"><button type="button" class="btn btn-primary">
                                more</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%end%>
    </div>
</div>
