<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile pet-box-shadow">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= @pet.name %></h2>
                    <p><strong>Type: </strong><%= @pet.species %> </p>
                    <p><strong>Sex: </strong><%= @pet.sex %></p>
                    <p><strong>Age: </strong><%= @pet.age %></p>
                    <p><strong>Size: </strong><%= @pet.size %></p>
                    <p><strong>Breeds: </strong>
                    <% @pet.breeds.uniq.each do |breed| %>
                        <span class="tags"><%= breed.name %></span><br>
                    <%end%>
                    </p>
                    <p><h3>Shelter Info: </h3><br>
                    <p><strong>Name: </strong><%= @pet.shelter.name %></p>
                    <p><strong>Email: </strong><%= @pet.shelter.email %></p>
                    <% if @pet.shelter.phone.nil?  %>
                    <p><strong>Phone: </strong>N/A</p>
                    <%else%>
                    <p><strong>Phone: </strong><%= @pet.shelter.phone %></p>
                    <%end%>
                    <p><strong>City: </strong><%= @pet.shelter.city %></p>
                    <p><strong>Zip: </strong><%= @pet.shelter.zip %></p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                       <!--  <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive"> -->
                        <%= image_tag @pet.picture, class: "img-circle img-responsive" %>

                    </figure>
                </div>
            </div>
            <div class="col-xs-12 divider text-center scrollable-body">
               <p><%= @pet.description %></p>
            </div>
            <% if user_signed_in? %>
            <a id="form-link" class="btn btn-default">Contact Shelter</a>
            <%else%>
            <a id="form-link" class="btn btn-default contact-shelter">Contact Shelter</a>
            <%end%>
    	 </div>
		</div>
	</div>
</div>

<div class="container showform">
<div class="well bs-component">
<div class="row">
<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
	<form action="/mailers/create" method="post" class="form-horizontal" id= "contact-form">
  <fieldset>
    <legend>Adopt Me!</legend>
    <div class="form-group">
      <div class="col-lg-10">
        <input type="hidden" class="form-control" id="inputEmail" name="email[shelter_email]" value="<%= @pet.shelter.email %>">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <input type="hidden" class="form-control" id="inputEmail" name="email[user_email]" value="<%= current_user.email %>">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Message</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" name="email[content]"> Hello <%= @pet.shelter.name %> I am interested in adopting <%= @pet.name %></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default cancel-btn">Cancel</button>
        <button type="Email" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>
</div>
</div>


