<div class="container second-containter">
    <div class="row row-2">
    <% @pets.each do |pet| %>
        <div class="well well-sm other-well">
            <div class="row row-2">
                <div class="col-sm-6 col-md-6">
                    <%= image_tag pet.picture, size: "380X500" %>
                </div>
                <div class="col-sm-6 col-md-8 other-md-8-col">
                    <h4>
                        <%= pet.name %></h4>
                    <h5><%= pet.age%></h5>
                    <h5><%= pet.description%></h5>

                    <small><%= pet.species %> <i class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    <p>
                        <a href="mailto:<%=pet.shelter.email %>"<i class="glyphicon glyphicon-envelope"></a></i><%=pet.shelter.email %>
                        <br />
                    </p>
                    <div class="btn-group">
                        <a class="btn-group" href="/pets/<%=pet.id%>"><button type="button" class="btn btn-primary">
                            more</button></a>

                    </div>
                </div>
            </div>
        </div>
    <%end%>
</div>
