  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
<%= @user.email %>
<h1>My Pets</h1>
<% @pets.each do |pet| %>
<!-- <div class = "individual-pet">
    <%= image_tag pet.picture %>
    <%= pet.name %>
    <%= pet.species %>
    <%= pet.sex %>
    <%= pet.age %>

    <% pet.breeds.uniq.each do |breed| %>
    <%=  breed.name %>
                <%end%>
   
    <%= pet.size %>
 
    <%= pet.description %>

</div> -->
<div class="home-blog clearfix">
<table class="section section-services student-index center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Sex</th>
            <th>Age</th>
            <th>breed</th>
            <th>Size</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Shelter_id</th>

            <th>Shelter</th>
            <th>Phone</th>
            <th>Email</th>
            <th>City</th>
            <th>Zip</th>
            <th>More Info</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= pet.name %></td>
            <td><%= pet.species %></td>
            <td><%= pet.sex %></td>
            <td><%= pet.age %></td>

            <td> <% pet.breeds.uniq.each do |breed| %>
                <li><%=  breed.name %></li>
                <%end%>
            </td>
            <td><%= pet.size %></td>
            <td><%= image_tag pet.picture, class:"my-pet-pic" %></td>
            <td><%= pet.description %></td>
            <td><%= pet.shelter_id %></td>
            <td><%= pet.shelter.name %></td>
            <td><%= pet.shelter.phone %></td>
            <td><a href="mailto:<%= pet.shelter.email %>"><%= pet.shelter.email %></td>
            <td><%= pet.shelter.city %></td>
            <td><%= pet.shelter.zip %></td>
            <td><%= link_to "more", show_pet_path(pet) %></td>

</td>
        </tr>


    </tbody>
</table>
<%end%>
</div>
</div>
</div>
</div>
</div>
