<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="http://api.randomuser.me/portraits/women/21.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-8">
              <h2><%= @user.name %></h2>
              <p><strong>Email: </strong> <%= @user.email %></p>
            </div>
            <!--/col-->
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-4">

            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->

<div class="container">
    <div class="row">
        <ul class="thumbnails">
        <% @pets.each do |pet| %>
            <div class="col-md-6">
                <div class="thumbnail" id="pet-result-pic">
                     <%= image_tag(pet.picture, class: "img-responsive resize-result pet-picture")  %>
                    <div class="caption">
                         <h3 class="result-name"><%= pet.name %></h3>
                        <small class="result-name">Type: <strong><%= pet.species %></strong></small>
                        <!--set up some logic- if you're not signed in, clicking this button raises sign in alert. -->
                        <div class="row">

                          <div class="col-md-12">
                            <p align="center"><a href="/pets/<%=pet.id%>" class="btn btn-warning more-button more-warning">more</a>
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        <%end%>
        </ul>
    </div>
</div>










