<%= render "shared_partial/search" %>

<div class="container">
    <div class="row">
    <% @pets.each do |pet| %>
        <div class="col-xs-12 col-sm-6 col-md-7 col-md-offset-2">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-6">

                        <%= image_tag(pet.picture, class: "img-size") %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            <%= pet.name %></h4>
                        <small><strong>Type: </strong><%= pet.species %> </small>
                        <p>
                        <% shelter = Shelter.find(pet.shelter_id)%>
                            <i class="glyphicon glyphicon-envelope"></i><%= shelter.email %>
                            <br />

                        </p>
                        <div class="btn-group">
                            <a class="btn-group" href="/pets/<%=pet.id%>"><button type="button" class="btn btn-primary">
                                more</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%end%>
    </div>
</div>























<!-- DO NOT DELETE COMMENTED CODE :) -->

      <!-- </div> -->

<!-- </div> -->
   <!--  <div id="pet" class="transitions-enabled">
        <div class="box panel panel-default"> -->
            <%#= image_tag pet.picture, size: "200X200" %#>
          <div class="panel-body">
             <p><%#= pet.name %#></p>
             <hr>
            <p><%#= pet.species %#></p>
             <hr>
                <div class="actions">
                    <span class="glyphicon glyphicon-edit"></span>

                 <%#= link_to "more", show_pet_path(pet) %#>
                </div>
          </div>
      <%# end %#>
        </div>
    </div>

<%# @pets.each do |pet| %#>
<!-- <table class="table"> -->
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Sex</th>
            <th>Age</th>
            <th>breed</th>
            <th>Size</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Shelter_id</th>

            <th>Shelter</th>
            <th>Phone</th>
            <th>Email</th>
            <th>City</th>
            <th>Zip</th>
            <th>Like</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%#= pet.name %#></td>
            <td><%#= pet.species %#></td>
            <td><%#= pet.sex %#></td>
            <td><%#= pet.age %#></td>

            <td> <%# pet.breeds.uniq.each do |breed| %#>
                <li><%#=  breed.name %#></li>
                <%#end%#>
            </td>
            <td><%#= pet.size %#></td>
            <td><%#= image_tag pet.picture, size: "350X350" %#></td>
            <td><%#= pet.description %#></td>
            <td><%#= pet.shelter_id %#></td>

            <%# shelter = Shelter.find(pet.shelter_id)%#>
            <td><%#= shelter.name %#></td>
            <td><%#= shelter.phone %#></td>
            <td><%#= shelter.email %#></td>
            <td><%#= shelter.city %#></td>
            <td><%#= shelter.zip %#></td>
            <%# if current_user %#>
            <td><%#= form_for pet, :url => { :controller => "favorite_pets", :action => "create" }, :html => {:method => :post}, :remote => true do |f| %#>
            <%#= f.hidden_field :id %#>
            <span class="glyphicon glyphicon-ok-sign"><%#= f.submit %#></span>
            <%# end %#>
            <%# else %#>
            <%#= form_for pet, :url => { :controller => "favorite_pets", :action => "create" }, :html => {:method => :post}, :remote => true do |f| %#>
            <%#= f.hidden_field :id %#>
            <span class="glyphicon glyphicon-ok-sign"><%#= f.submit %#></span>
            <%#end%#>
            <%#end%#>

</td>
        </tr>


    </tbody>
</table>
<%end%>


