<% if !user_signed_in? %>
<div class="container">
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Welcome to Purrfect Match!</h4>
      <p>Find the Purrfect pet to adopte in today!<%= link_to "Sign up here", new_user_registration_path %>.</p>
    </div>
</div>
<%end%>

<%= render "shared_partial/search" %>

<div class="container">
<div class="showcase">
    <div class="row">
        <% @pets.each do |pet| %>
        <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                <%= image_tag pet.picture %>

                </div>
                <div class="info">
                    <h5>
                        <%= pet.name %>
                    </h5>
                    <div class="desc"><%= pet.species %></div>
                    <div class="desc"><%= pet.shelter.city %>    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></div>
                </div>
                <div class="bottom">

                    <a class="btncustom btn-warning btn-sm" href="/pets/<%=pet.id%>">+
                    </a>
                </div>
            </div>

        </div>
        <%end%>
    </div>
</div>
</div>

