<!DOCTYPE html>
<html>
<head>
  <title>Petfinder</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="bootstrap-3.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="typeaheadjs.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="jquery.js"></script>
<script src="typed.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- div class="container main-container"> -->
<%= render "shared_partial/navbar" %>


<%= yield %>
<div class="container">
<footer class="footer">

  <ul>
      Made with ♥ by<li><a href="http://sophiedebenedetto.nyc/" id="credits">Sophie DeBenedetto</a> &<a href="http://cyzanfar.github.io/">Cyrus Ghazanfar</a></li> |
      <li><a href="https://github.com/SophieDeBenedetto/purrfectmatch">Source code</a></li> | 
      <li><a href="mailto:purrfectmatch.adopt@gmail.com">Feedback</a></li>
  </ul>
  </footer>
</div>
</body>
</html>









